
label {
  width: 100%;
  font-size: 1rem;
}

#simulation_ask_month {
  border-radius: 42px;
  height: 37px !important;
  margin-top: 22px;
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 20px;
  width: 300px;
}

img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.category-choices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
}

.card-input-element+.card {
  height: calc(36px + 2*1rem);
  color: grey;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 10px;
}

.card-input-element+.card:hover {
  cursor: pointer;
}

.card-input-element:checked+.card {
  border: 2px solid blue;
  -webkit-transition: border .3s;
  -o-transition: border .3s;
  transition: border .3s;
  color: blue;
}

.card-input-element:checked+.card::after {
  color: #AFB8EA;
  font-size: 24px;
  -webkit-animation-name: fadeInCheckbox;
  animation-name: fadeInCheckbox;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
